*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #A9A9A9;
}
.container{
  max-width: 900px;
  margin: 25px auto;
  
}
.content{
  border-radius: 13px;
  background-color: #ffffff;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}
.content span{
  font-size: 20px;
  color: #04175A;
}
.form_container{
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.form_controller{
  display: flex;
  flex-direction: column;
}
label{
  font-size: 15px;
  margin-bottom: 5px;
}
input, select, textarea{
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}
input:focus{
  outline-color: red;
}
.buttom_container{
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
button{
  background-color: red;
  border:transparent solid 2px;
  border-radius: 8px;
  padding: 5px 10px;
  color: white;
  transition: 0.3s ease-in;
}
button:hover{
  background-color: grey;
  border: 2px solid red;
  color: black;
  transition: 0.3s ease-out;
  cursor: pointer;
}
.text_controller{
  grid-column: 1/span 2;
}
.text_controller textarea{
  width: 100%;
}
@media (max-widh:460px){
  .text_controller{
    grid-column: 1/span 1;
  }
}